header#new {
    width: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px auto 10px;
}

header#new a {
    background: #272727;
    padding: 8px 18px 8px;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

form#new-post {
    background: #fff;
    width: 100%;
    max-width: 680px;
    margin: 0px auto 0px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

form#new-post label {
    margin-bottom: 5px;
}

form#new-post input, form#new-post textarea, form#new-post progress {
    margin-bottom: 10px;
}

form#new-post input[type=text] {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 20px;
}

form#new-post textarea {
    height: 80px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 20px;
    padding-top: 10px;
}

form#new-post button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
    background-color: #272727;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

form#new-post span {
    text-align: center;
    margin-bottom: 5px;
    font-style: italic;
}

form#new-post img {
    width: 200px;
    height: 100px;
    margin-bottom: 15px;
}